@font-face {
  font-family: 'Arial Narrow';
  src: local('Arial Narrow'), local('ArialNarrow'),
      url('../static/fonts/arialnarrow.woff2') format('woff2'),
      url('../static/fonts/arialnarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArialMT';
  src: local('ArialMT'),
      url('../static/fonts/subset-ArialMT.woff2') format('woff2'),
      url('../static/fonts/subset-ArialMT.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial MT Narrow';
  src: local('Arial MT Narrow'), local('ArialMTNarrow'),
      url('../static/fonts/subset-ArialMTNarrow.woff2') format('woff2'),
      url('../static/fonts/subset-ArialMTNarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial MT Narrow';
  src: local('Arial MT Narrow Bold'), local('ArialMTNarrow-Bold'),
      url('../static/fonts/subset-ArialMTNarrow-Bold.woff2') format('woff2'),
      url('../static/fonts/subset-ArialMTNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial MT';
  src: local('Arial MT Bold'), local('Arial-BoldMT'),
      url('../static/fonts/subset-Arial-BoldMT.woff2') format('woff2'),
      url('../static/fonts/subset-Arial-BoldMT.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 