dd,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
hr,
ol,
p,
pre,
table,
ul {
  @include base-margin();
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-primary;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-family: $font-secondary;
  font-size: 1.8rem;
}

h4 {
  margin: 0 0 .3rem;
  color: #333;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.base-margin {
  @include base-margin();
}
