.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  background-color: transparent;
  border: 0;
  border: 1px solid #999;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }
}

.btn--rounded {
  border-radius: .35rem/.35rem;
}

.btn--primary {
  width: auto;
  height: 3.8rem;
  padding: 0 1rem;
  margin: 0;
  color: #373f45;
  font-family: 'Arial MT Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.8rem;
  letter-spacing: .024rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  background-color: #e6e6e6;
  background-image: linear-gradient(to top, rgba(177, 181, 183, .25) 0%, rgba(177, 181, 183, 0) 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .44), 0 0 7px rgba(0, 0, 0, .07), inset 0 0 0 1px rgba(255, 255, 255, .48);
  border: 0;

  &:hover {
    background-color: #f7f7f7;
    background-image: linear-gradient(to top, rgba(177, 181, 183, .25) 0%, rgba(177, 181, 183, 0) 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .44), 0 0 7px rgba(0, 0, 0, .07), inset 0 0 0 1px rgba(255, 255, 255, .96);
  }

  &:active {
    position: relative;
    top: .1rem;
    left: .1rem;
    background-image: linear-gradient(to bottom, rgba(177, 181, 183, .25) 0%, rgba(177, 181, 183, 0) 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 0 7px rgba(0, 0, 0, .07), inset 0 0 0 1px rgba(255, 255, 255, .96);
  }
}

.btn--secondary {
  width: auto;
  height: 3.4rem;
  padding: 0 2rem;
  margin: 0;
  color: #000;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.4rem;
  text-align: left;
  text-rendering: optimizeLegibility;
  background-color: #9ca85a;
  border: 0;

  &:hover {
    color: #fff;
    background-color: #8f9956;
  }

  &:active {
    position: relative;
    top: .1rem;
    left: .1rem;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
  }
}

.btn--wide {
  height: 4rem;
  margin-bottom: 1rem;
  color: #eee;
  font-family: 'Arial MT Narrow', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background: #000;
  border: 0;
  opacity: .75;
  &:hover {
    opacity: .9;
  }
}

.btn--close {
  position: relative;
  top: 0;
  left: 0;
  width: 2rem;
  height: 3rem;
  overflow: hidden;
  border: 0;
  opacity: .75;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    color: #000;
    content: '\2715';
    font-size: 1.5rem;
  }

  &:hover {
    opacity: 1;
  }
}
