.searchfields__item {
  margin: 0 0 1.5rem;
}

.searchfields__row {
  margin: 0 0 .6rem;

  &--half {
    width: 100%;
    max-width: 50%;
  }
}

.searchfields__fieldset {
  padding: 0;
  margin: 0 0 3rem;
  border: 0;
}

.searchfields__input {
  border-radius: .35rem/.35rem;

  &:focus {
    outline: 0;
  }
}

.searchfields__input {
  position: relative;
  z-index: 0;
  height: 4rem;
  padding: .2rem 1rem 0 4rem;
  color: #5c5e5f;
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 4rem;
  background: #fbfbfb url('../static/images/search_ico.png') 1rem center no-repeat;
  box-shadow: 0 0 rgba(0, 0, 0, .11), inset 0 1px 4px rgba(0, 0, 0, .49);
  border: 1px solid #efefef;

  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  &[type='search']::-webkit-search-cancel-button {
    position: relative;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: 1.8rem;
    margin-left: .5rem;
    background: url('../static/images/clear_ico.png');
    cursor: pointer;
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }

  &:active,
  &:focus {
    color: #373f45;
    background-color: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, .11), inset 0 1px 4px rgba(0, 0, 0, .69);
    border: 1px solid #fff;
  }

  & + .btn {
    margin-left: .7rem;
  }
}


.icon {
  position: relative;

  &::before {
    position: absolute;
    top: 1.2rem;
    left: 1.4rem;
    z-index: 1;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    content: '';
  }
  &--search::before {
    background: url('../static/images/search_ico.png');
  }
}
