.searchfields__row--grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "input btn";

  .searchfields__input {
    grid-area: input;
  }

  .searchfields__btn {
    grid-area: btn;
    word-break: normal;
  }
}

