.searchfields__row--table {
  .searchfields__input {
    width: 100%;
  }

  .searchfields__cell {
    border-collapse: collapse;
    width: 100%;
    display: table-cell;

    &>.btn {
      position: relative;
      margin-left: .7rem;
      top: -0.3rem;

      &:active {
        top: -0.2rem;
      }
    }
  }
}

