.adaptivelist {
  flex-direction: column;
  display: flex;
  max-width: 18rem;
  padding: .8rem .3rem .25rem .3rem;
  background-color: #f0efef;
  box-shadow: 0 0 2px rgba(0, 0, 0, .04), 0 0 9px rgba(0, 0, 0, .12), inset 0 0 0 2px #fff;
  border: 1px solid rgba(200, 200, 200, .85);
  border-radius: .2rem;
  @media (min-width: 1300px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
    border: 0;
  }

  &__item {
    margin-bottom: .5rem;
    @media (min-width: 1300px) {
      margin-right: 2rem;
      margin-bottom: 1rem;
    }

    a {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      display: block;
      padding: .1rem 1rem .1rem 3rem;
      color: #000;
      font-size: 1.4rem;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      cursor: pointer;

      @media (min-width: 1300px) {
        padding: .1rem 1rem;
        font-size: 1.4rem;
        border-radius: .5rem;
      }
    }

    &--selected a,
    a:hover {
      font-weight: 700;
      @media (min-width: 1300px) {
        color: #fff;
        font-weight: 500;
        background-color: #707275;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 1rem;
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        content: '\2192';
      }

      @media (min-width: 1300px) {
        &::before {
          display: none;
        }
      }
    }
  }

  &__toggle {
    display: block;
    max-width: 18rem;
    padding: .8rem .3rem .25rem 1.3rem;
    font-size: 1.4rem;
    background-color: #f0efef;
    box-shadow: 0 0 2px rgba(0, 0, 0, .04), 0 0 9px rgba(0, 0, 0, .12), inset 0 0 0 2px #fff;
    border: 1px solid rgba(200, 200, 200, .85);
    border-radius: .2rem;
    @media (min-width: 1300px) {
      display: none;
    }

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
