.wrap {
  position: relative;
  width: 100%;
  max-width: $main-width;
  min-height: 50rem;
  padding: 2rem 7.7rem 10rem 7.7rem;
  margin: 0 auto 6rem;
  background: url('../static/images/bg.webp') 50% 0 repeat;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.2);

  &--wide {
    @media (min-width: $lg) {
      max-width: 130rem;
    }
  }
}

.section {
  padding: 1rem 2.7rem;
}
