@import './base/**/*';
@import './mixins/**/*';
@import './components/**/*';
@import './layout/**/*';
@import './sections/**/*';

main,
section,
aside,
header,
footer,
figure,
article {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: $font-primary;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #ebebeb;
}

.clearfix {
  @include clearfix();
}

.separator {
  position: relative;
  left: -2.3rem;
  width: 88.9rem;
  height: 6rem;
  margin: 0 auto;
  background: 50% -2rem url('../static/images/separator.png');
  border: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  opacity: .5;
}
