.elementwidget {
  &__box {
    width: 60rem;
    padding: 3rem;
    background: #fff;
  }

  &__selected {
    margin-bottom: 3rem;

    &--inside {
      margin: 2rem;
      color: #fff;
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__selectedCounter {
    margin-bottom: 1rem;
  }

  &__list {
    background: #3f3f3f;
    visibility: hidden;
    &--open {
      visibility: visible;
    }
  }

  &__badges {
    margin-bottom: 1.5rem;

    li {
      display: inline-block;
    }
  }

  &__badge {
    display: inline-block;
    height: 3.4rem;
    padding: 0 1.4rem 0 2rem;
    margin: .5rem 1rem .5rem 0;
    color: #fff;
    font-size: 1.4rem;
    background: #000;
    border: 0;
  }

  &__badgeLabel {
    position: relative;
    line-height: 3.4rem;

    &::after {
      position: relative;
      top: .5rem;
      display: inline-block;
      width: .1rem;
      height: 2rem;
      margin-left: 2rem;
      content: '';
      background-color: #fff;
      opacity: .75;
    }
  }

  &__removeBadge {
    left: .6rem;

    &::after {
      color: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }


  &__options {
    height: 30rem;
    padding: 2rem 3rem;
    margin: 1rem 2rem 2rem 2rem;
    overflow: auto;
    color: #fff;
    font-size: 1.4rem;
    background: black;

    .form__label {
      align-items: center;
      justify-content: flex-start;
      display: flex;
      margin-bottom: .5rem;
    }

    input[type=checkbox] {
      margin-right: 1rem;
      .label__title {
        position: relative;
        left: 1rem;
      }
    }
  }

  &__filter {
    position: relative;
    padding: 1rem 2rem;
    color: #fff;
  }

  &__filterHeader,
  &__filterNav {
    justify-content: space-between;
    display: flex;
  }

  &__filterTitle {
  }

  &__filterClose .btn--close::after {
    color: #fff;
  }

  &__filterSearch,
  &__filterNum {
    align-items: center;
    justify-content: flex-start;
    display: flex;

    label {
      margin-right: 1rem;
      font-size: 1.4rem;
    }

    input,
    select {
      color: #000;
      font-size: 1.4rem;
      background-color: #fff;
    }
  }

  &__buttons {
    padding-bottom: 3rem;
  }

  &__buttonSave,
  &__buttonClose {
    margin-right: 2rem;
    color: #fff;
  }
}
