$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1900px;
$qhd: 2500px;
$uhd: 3800px;
$main-width: 968px;
$primary: #25a8d4;
$primary-dark: #0179ae;
$secondary: #f08f00;
$tertiary: #f63a00;
$dark: #404040;
$bright: #f4f4f4;
$semibright: #e6e6e6;
$light: #cdcdcd;
$semilight: #9a9a9a;
$font-primary: 'ArialMT', Arial, Helvetica, sans-serif;
$font-secondary: 'Arial MT', Arial, Helvetica, sans-serif;
